
.form-container input[type="checkbox"] {
    width: 30px;
    height: 20px;
    background-color: #f10000;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
  
.form-container input[type="checkbox"]:checked {
    background-color: #51ff00;
}

.admin-control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.admin-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.server-controls {
    background-color: #313131;
    padding: 20px;
    border-radius: 20px;
}
  